<h1>Make your choice</h1>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Introduce your name</mat-label>
        <input matInput type="text" [(ngModel)]="name">
        <button *ngIf="name" matSuffix mat-icon-button (click)="name=''">
        <mat-icon>close</mat-icon>
        </button>
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
    <div >
        <button mat-raised-button (click)="userChoice(choices.stone)"> 
            <img src="/assets/{{choices[choices.stone]}}.png" />
        </button>
    </div>
    <div >
        <button mat-raised-button (click)="userChoice(choices.scissors)"> 
            <img src="/assets/{{choices[choices.scissors]}}.png" />
        </button>

    </div>
    <div f>
        <button mat-raised-button (click)="userChoice(choices.paper)"> 
            <img src="/assets/{{choices[choices.paper]}}.png" />
        </button>

    </div>
</div>
